RewriteEngine on
RewriteBase /
Options All -Indexes
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^resource/(.*)$ resource/$1 [L]
RewriteRule ^.*$ [NC,L]
RewriteRule ^.*$ index.php [NC,L]
RewriteCond %{REQUEST_URI} !^\/resource/$
RewriteCond %{SERVER_PORT} !^443
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]